<ul id="past_appointments">
  <% @appointments.where('appointment_time <= ?', Time.now).each do |appointment|%>
    <li>
      <h3 class="appointment_label">Mentor:</h3>
      <%= appointment.mentor %>
      <h3 class="appointment_label">Student_id:</h3>
      <%= appointment.student %>
      <h3 class="appointment_label">Time:</h3>
      <%= appointment.appointment_time %>
      <h3 class="appointment_label">Message:</h3>
      <%= appointment.message %>
    </li>
  <% end %>
</ul>
