/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar

 */

.calendar {
	border: solid;
	border-width: 1px;
	padding: 7px;
	background-color: #b3c2bf;
}

.day{
    padding: 0px !important;

}

.simple-calendar {
	border: none;	
	background-color: white;

}
.calendar-heading {
	border: none;
	background-color: white;
}

.today {
    background: #e9ece5 !important;
  }

.next-month {
    background-color: #c0dfd9 !important;
  }

.prev-month {
    background: #c0dfd9 !important;
  }
.layout-header {
  margin: auto;
  width: 20%;
}
.appt-form-button {
  margin: auto;
  width: 20%;
}

