<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div class="calendar">
      <%= appointment.start_time.strftime("	%I:%M%p") %>
      <%= User.find_by(id: appointment.mentor_id) %>
      <a href="#">sign up!</a>
    </div>
  <% end %>
<% end %>
