<h1>Reviews index page</h1>


<% @review.each do |ind_rev|%>
	stars: <%= ind_rev.stars%><br>
	review details: <%= ind_rev.body%>
	<%end%><br>

	<% @review_for_me.each do |ind_rev|%>
	stars: <%= ind_rev.stars%><br>
	review details: <%= ind_rev.body%>
	<%end%>
